<footer>
    <div class="f-info">
        <h4 class="fw-semibold">Inspiration for future getaways</h4>
        <div class="stay">
            <div class="one"><b>Yurt Rentals</b><br><span>United States</span></div>
            <div class="one"><b>Farm Houses </b><br><span>United States</span></div>
            <div class="one"><b>Cottage Rentals</b><br><span>United States</span></div>
            <div class="one"><b>Yurt Rentals</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Farm Cottages</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Holiday Cottages </b><br><span>United Kingdom</span></div>
            <div class="one"><b>Castle Rentals</b><br><span>United States</span></div>
            <div class="one"><b>Cabin Rentals</b><br><span>Australia</span></div>
            <div class="one"><b>Mansion Rentals</b><br><span>United States</span></div>
            <div class="one"><b>Houseboats</b><br><span>United States</span></div>
            <div class="one"><b>Luxury Cabins</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Villa Rentals</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Holiday Caravans</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Luxury Cabins</b><br><span>United States</span></div>
            <div class="one"><b>Holiday Bungalows</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Private Island Rentals</b><br><span>United States</span></div>
            <div class="one"><b>Holiday Chalets</b><br><span>United Kingdom</span></div>
            <div class="one"><b>Bungalow Rentals</b><br><span>United States</span></div>
        </div>

        <div class="line"></div>

        <div class="help">
            <div class="div1">
                <a><b>Support</b></a><br>
                <a>Help Centre</a><br>
                <a>AirCover</a><br>
                <a>Anti-discrimination</a><br>
                <a>Disability support</a><br>
                <a>Cancellation options</a><br>
                <a>Report neighbourhood concern</a><br>
            </div>
            <div class="div2">
                <a><b>Hosting</b></a><br>
                <a>Airbnb your home</a><br>
                <a>AirCover for Hosts</a><br>
                <a>Hosting resources</a><br>
                <a>Community forum</a><br>
                <a>Hosting responsibly</a><br>
                <a>Join a free Hosting class</a><br>
                <a>Find a co-host</a>
            </div>
            <div class="div3">
                <a><b>Airbnb</b></a><br>
                <a>2025 Summer Release</a><br>
                <a>Newsroom</a><br>
                <a>New features</a><br>
                <a>Careers</a><br>
                <a>Investors</a><br>
                <a>Airbnb.org emergency stays</a>
            </div>
        </div>  
        
        <div class="line"></div>

        <div class="last">
            <div class="start">
            © 2025 Airbnb, Inc. &nbsp;&nbsp; · &nbsp;&nbsp; Privacy &nbsp;&nbsp; · &nbsp;&nbsp; Terms &nbsp;&nbsp; · &nbsp;&nbsp; Sitemap &nbsp;&nbsp; · &nbsp;&nbsp; Company details
            </div>
            <div class="end">English (IN)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rupees: INR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-linkedin"></i></div>
        </div>
    </div>
</footer>