/* Body */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}




/* Navbar */
.navbar {
    height: 4.5rem;
    background-color: white;
    
}

.fa-compass {
    color: #fe424d;
    font-size: 2.2rem !important;
}

.nav-link {
    color: #222222 !important;
}

.airbnb-head {
    font-size: 1.5rem !important;
    color: #fe424d !important;
}






/* Footer */
.stay {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.stay div {
    font-size: 0.85rem;
    font-weight: 400 !important;
}

.stay span {
    font-size: 0.85rem;
    color: #676767;
    font-weight: 500;
}


.help {
    display: flex;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 22rem;
}

.div1,.div2,.div3 {
    width: 30rem;
}

.div1,.div2,.div3 a {
    line-height: 2.2rem !important;
    font-size: 0.85rem;
    font-weight: 500;
}

h4 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}


.one {
    width: 12.5rem;
    height: 5rem !important;
    line-height: 1.2rem;
}

.line {
    background-color: rgba(161, 161, 161, 0.475);
    width: 95%;
    height: 0.06rem;
    margin-left: 2rem;
}

.f-info {
    height: 50rem;
    background-color: #ebebeb6c;
}

.last {
    display: flex;
    padding-left: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000bc;
    padding-top: 1.4rem;
}

.start {
    margin-right: 25rem;
}

.end {
    margin: auto;
    font-weight: 700;
}



/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}






/* Card Effects */
.card-img-overlay {
    opacity: 1;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
    border-color: #222222;
}

.guest-fav {
    background-color: rgba(239, 238, 238, 0.909);
    padding: 0.3rem 0 0.3rem 0;
    width: 8rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border-color: #222222;
}

.box-shadow:hover img {
    border-radius: 25px;
    box-shadow: 7px 7px 2px rgb(171, 171, 171) !important;
}

.box-shadow:hover {
    opacity: 1;
}

.box-shadow {
    opacity: 0.95;
}







/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}





/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.old-image {
    height: 80px;
}





/* Show Page */
.show-img {
    height: 48vh;
    width: auto !important;
    display: flex;
    justify-content: center;
    border-radius: 0.8rem;
}

.img-middle {
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.comment-size {
    font-size: 15px;
}

.comment-bold {
    font-weight: 600;
}

.review-size {
    display: flex;
    justify-content: center;
}


.heading-image,.login-heading,.signup-heading,.new-heading,.edit-heading,.review-heading {
    display: flex;
    justify-content: center;
}

.rating-display {
    display: flex;
    flex-wrap: wrap;
}

.rating {
    font-size: 20px;
}

.show-review {
    display: flex;
    justify-content: center;
}

.delete-review {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.review-heading {
    font-size: 1.5rem;
    padding-top: 2rem;
}





/* Index Page */
.price-opacity {
    font-size: 15px;
    color: #585858;
    font-weight: 500;
}




/* Map */
#map {
    /* margin-left: 7rem; */
    height: 550px;
    width: 60rem;
    border-radius: 1rem;
} 

.div {
    display: flex;
    justify-content: center;  
}

.map-head {
    display: flex;
    justify-content: center;
}









.bottom-margin {
    margin-bottom: 6rem;
}